*{
    margin: 0px;
    padding: 0px;
}
button{
    cursor: pointer;
    outline: none;
}
input{
    outline: none;
}
body{
    overflow-y: hidden;
}
    .all{
        background: url("bgpicture.png") no-repeat ;
        width: 100%;
        height: 760px;
        min-height: 760px;
        }
        .body{
        width: 410px;
        height: 360px;
        font-weight: 600;
        background-color: rgba(215, 236, 235, 0.205);
        margin: 0 auto;
        padding-top: 40px;
        position: absolute;
        top: 20%;
        left: 36.5%;
        border-radius: 20px;
    }
    .body p{
        font-family: "youyuan";
        position: absolute;
        top: 4px;
        left: 150px;
        font-weight: 900;
        background: linear-gradient(to right,rgba(241, 147, 237, 0.74),rgb(240, 154, 133));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 20px;
        letter-spacing: 3px;
    
    }
    .username{
        color: rgba(255, 89, 47, 0.349);
        margin-left: 20px;
    }
    .username input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
      }
    
    .phone{
        margin-left: 20px;
        padding-top: 7px;
        color: rgba(255, 89, 47, 0.349);
    }
    .phone input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
    }
    
    .pwd1,.pwd2{
        margin-left: 20px;
        padding-left: 16px;
        padding-top: 7px;
        color: rgba(255, 89, 47, 0.349);
    }
    .pwd1 input,.pwd2 input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
    }
    #open,#close{
           cursor: pointer;
           position: absolute;
           left: 350px;
    }
    .num{
        margin-left: 20px;
        padding-top: 7px;
        color: rgba(255, 89, 47, 0.349);
    }
    .num input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
    }
        .pwd{
        margin-left: 20px;
        padding-left: 16px;
        padding-top: 7px;
        color: rgba(255, 89, 47, 0.349);
    }
    .pwd input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
    }
    .em{
        margin-left: 20px;
        padding-top: 7px;
        color: rgba(255, 89, 47, 0.349);
        padding-left: 24px;
        }
    .em input{
        width: 300px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
        }
    .pic{
        margin-left: 20px;
        padding-top: 7px;
        color: rgba(255, 89, 47, 0.349);
    }
    .pic input{
        width: 200px;
        height: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #10ecdaf6;
    }
    .agreement{
        margin-top: 20px;
        margin-left: 50px;
        font-size: 13px;
    }
    #lable1{
        text-decoration: none;
    }
    #lable2{
        text-decoration: none;
    }
    #rad{
      vertical-align: middle;
      margin-top: -2px;
    }

    .footer{
        margin-top: 10px;
        width: 410px;
        height: auto;
    }
    #button1{
        width: 170px;
        height: 35px;
        margin-left: 20px;
        float: left;
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid;
        border-color: rgba(193, 136, 231, 0.452);
         }
    #button2{
        width: 170px;
        height: 35px;
        margin-left: 20px;
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid;
        border-color: rgba(193, 136, 231, 0.452);
      }
    #msg{
        height: 21px;
        width: 115px;
        margin: 0 auto;
    }
    .error{
        color: rgba(224, 136, 64, 0.808);
    }
    #kap{
        width:95px;
        height:30px;
        margin-top:-2px;
        cursor: pointer;
    }

